* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
/* header section start  */
header {
  position: fixed;
  width: 100%;
  box-shadow: 1px 2px 5px #ddd;
  background-color: #fff;
  z-index: 999;
}
#navbarNav {
  flex-grow: 0;
}
.navbar-brand img {
  width: 100%;
}
header .nav-item {
  font-weight: bold;
  margin-right: 10%;
}

/* header section end  */

/* home section start  */
#home-section {
  background-image: url(../images/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 10%;
}
.home-img img {
  height: 75vh;
  object-fit: fill;
}
.home-content {
  margin-top: 20%;
}
.home-content h2 {
  font-size: 50px;
}
.home-content h2 span {
  color: rgb(7, 197, 172);
}
.home-btn .btn01 {
  background-color: rgb(7, 197, 172);
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 0;
}

.home-btn .btn01:hover {
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.home-btn .btn02 {
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 0;
  background-color: #fff;
  color: rgb(7, 197, 172);
}
.home-btn .btn02:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(7, 197, 172);
  color: #fff;
}
/* home section start  */

/* our section start  */
#our-sevrice {
  padding: 5% 0 3% 0;
  position: relative;
  width: 100%;
}
.our-img01 {
  z-index: -1;
  position: absolute;
  background-image: url(../images/advt.png);
  background-repeat: no-repeat;
  bottom: 0%;
  width: 16%;
  height: 20rem;
  right: 0;
}
.out-title h4 {
  color: rgb(7, 197, 172);
}
.out-title h2 {
  font-size: 50px;
}
.card01 {
  position: relative;
}
.card01::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 30%;
  background-color: aquamarine;
  right: 5%;
  top: 3%;
}
.card01:hover {
  box-shadow: 2px 2px 10px #ddd !important;
  transition: all 0.3s ease;
}
/* our section end  */

/* we-are section start  */
#we-are {
  background-color: rgb(7, 197, 172);
}
.we-are-cont h3 {
  font-size: 18px;
}
.we-are-cont p {
  margin-left: 33px;
}
.we-are-cont h3 i {
  margin-right: 10px;
}
.we-img img {
  height: 33rem;
}
/* we-are section End  */
/* news section start  */
#news-section {
  position: relative;
}
.news-title h4 {
  color: rgb(7, 197, 172);
}
.news-img01 {
  z-index: -1;
  position: absolute;
  background-image: url(../images/experience.png);
  background-repeat: no-repeat;
  bottom: 0%;
  width: 16%;
  height: 28rem;
  left: 0;
}
.card02 a {
  background-color: rgb(7, 197, 172);
  color: #fff;
}
/* news section End */
/* testionials-section start  */
#testionials-section {
  background-image: url(../images/124.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

/* testionials-section End  */
/* clients-section start  */
.project-title .sm-title {
  color: rgb(7, 197, 172);
  font-style: italic;
  font-size: 20px;
}
.logo-panel img {
  width: 100%;
  margin: 10px 20px;
  opacity: 0.5;
  border: 1px solid transparent;
}
.logo-panel img:hover {
  border: 1px solid rgb(7, 197, 172);
  transition: all 0.3s ease;
  opacity: 1;
}
/* clients-section End  */
/* callto-action section start  */
.callto-action {
  background-color: tomato;
  color: #fff;
  font-style: italic;
}

/* footer section start  */

.footer-widget h2 {
  color: #c5c5c5;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer-widget p {
  font-size: 14px;
  color: #6e6e6e;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin: 0 0 10px;
}

.footer-widget .social-links li a {
  color: #777575;
  background-color: #2f2f2f;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  text-align: center;
  border-radius: 50%;
  padding: 7px 10px 8px 10px;
}
.footer-widget .social-links li a:hover {
  color: #fff;
}
.footer-widget .social-links {
  padding: 0;
}
.footer-widget .social-links li {
  display: inline-block;
  margin: 10px 15px 0px 0px;
}
.footer-widget .link-list {
  padding: 0;
}
.footer-widget .link-list a {
  color: #8c8c8c;
  text-transform: capitalize;
  line-height: 30px;
  text-decoration: none;
}

/* footer end  */

/* about page start  */

.page-about-section {
  padding: 120px 0 65px;
  background: url("../images/ban.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page-about-section .col-md-12 {
  padding: 40px 15px 0px;
}

.about-link01 ul li {
  display: inline-block;
  margin-right: 2px;
}

.about-link01 ul li a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #515252;
  font-weight: 600;
}
#about-home {
  position: relative;
  width: 100%;
}
#about-home p {
  font-size: 14px;
  color: #6e6e6e;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin: 0 0 10px;
}
#about-home ul {
  padding: 0;
}
#about-home ul li {
  list-style-type: none;
}
#about-home ul li a {
  font-family: Open Sans;
  font-style: italic;
  font-size: 13px;
  color: #6e6e6e;
  text-decoration: none;
  font-weight: 400;
}

.aboo-01 {
  background-image: url(../images/abt-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 24% !important;
  height: 20vh;
  right: 0;
  bottom: 9px;
}
/* about page end  */

/* services-page-section start  */

.services-page-section {
  padding: 8% 0px 30px 0px;
}
.services-page-section ul.side-navigation-list li {
  list-style: none;
  padding: 15px 25px;
}
.services-page-section ul.side-navigation-list li a {
  text-decoration: none;
  color: #222222;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.services-page-section ul.side-navigation-list li a:hover {
  color: #07c5ac;
}

.services-page-section .contact-info {
  padding: 25px 30px;
  padding-left: 0px;
}
.services-page-section .contact-info h2 {
  color: #222222;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.services-page-section .contact-info ul.information-list li {
  list-style-type: none;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  padding: 10px 0;
}
.services-page-section .contact-info ul.information-list li i {
  color: #07c5ac;
  font-size: 18px;
  display: inline-block;
  line-height: 24px;
  margin-right: 10px;
}
.services-page-section .contact-info ul.information-list li span {
  font-size: 13px;
}
.services-page-section .services-wrapp .services-post .btn.readmore {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  background: #07c5ac;
  position: relative;
  line-height: 40px;
  border-radius: 3px;
  margin-bottom: 27px;
  font-size: 14px;
  margin-top: 40px;
  padding: 0px 27px;
}
.services-page-section .services-wrapp .services-post {
  margin-bottom: 40px;
}
.services-page-section .services-wrapp .services-post h4 {
  padding: 20px 0px;
}
/* services-page-section end  */
/* contact section start  */
#contact-form input[type="text"],
.comment-form input[type="text"],
#contact-form textarea,
.comment-form textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
  outline: none;
  margin: 30px 0px 0px;
  color: #666666;
  font-size: 13px;

  font-family: "Montserrat", sans-serif;
}

/* #contact-form input, */
#submit_contact {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  background: #07c5ac;
  position: relative;
  line-height: 40px;
  border-radius: 3px;
  margin-bottom: 27px;
  font-size: 14px;
  margin-top: 40px;
  padding: 0px 27px;
  border: none;
}
.contact-info p,
.contact-info h2 {
  margin-top: 30px;
  color: #6e6e6e;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin: 0 0 10px;
}
.contact-info p {
  font-size: 14px;
}
.contact-section ul.information-list li {
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
}
.contact-section ul.information-list li i {
  float: left;
  color: #222222;
  font-size: 13px;
  display: inline-block;
  line-height: 24px;
}
.contact-section ul.information-list li span {
  display: block;
  font-size: 14px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
  margin-bottom: 8px;
  margin-left: 25px;
}

/* Default image styling */
img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

/* Responsive image styles */
@media screen and (max-width: 1024px) {
  img {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  img {
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  img {
    max-width: 100%;
    height: auto;
  }
}
